<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Todo App With angular</title>
  <link rel="stylesheet" href="style.css">
</head>

<body ng-app="myApp" ng-controller="todoCtrl">
  <h1>Frontend Frameworks with AngularJS</h1>
  <h3>Todo App Project with AngularJS</h3>


  <form ng-submit="todoAdd()">
    <input class="main" type="type" name="" ng-model="todoInput" placeholder="Add New">
    <input class="main" type="submit" name="Add New">
  </form>
  <br>

  <div ng-repeat="x in todoList">
    <input id='checkboxes' type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
  </div>
  <br />

  <p><button ng-click="remove()">Remove</button></p>

  <!-- app Scripts -->
  <!-- Must Load Angular Framework First because angular logic is used in app.js -->
  <script src="bower_components\angular\angular.min.js" charset="utf-8"></script>
  <!-- Now load the main app JS File -->
  <script src="app.js" charset="utf-8"></script>
  <script src="todoCtrl.js"></script>

</body>

</html>
